# Python
.venv/
__pycache__/
*.pyc

# Env
.env

# DB
*.db
*.sqlite3

# Terraform generated
Terraform/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log

# Chroma storage
storage/chroma/

# Node
node_modules/

# VS Code
.vscode/
